:root {
	--main-text-color: #212121;
	--secondary-text-color: #757575;
	--main-white-color: #fff;
	--highlight-color: #2196f3;
	--secondary-white-color: #f5f4f5;
	--fill-color: #2f303a;
	--button-active-color: #188ce8;
	--card-border-color: #eee;
	--background-color: #f5f4fa;
	--icon-color: #afb1b8;
}